/* Dependencies */

@font-face {
	font-family:'Cera-black';
	src: url('../fonts/Cera GR Black.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cera-bold';
	src: url('../fonts/Cera GR Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cera-light';
	src: url('../fonts/Cera GR Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cera-reg';
	src: url('../fonts/Cera GR.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon-italic';
	src: url('../fonts/Cera_GR_Italic.otf');
	font-weight: normal;
	font-style: normal;
}



@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
	background-color: #ffffff;
	color: #0b0c0c;
}


/* Typography */

.heading-xl {
	color: #0b0c0c;
    font-family: "Cera-bold",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.09375;
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
	.heading-xl {
		font-size: 48px;
    	font-size: 3rem;
    	line-height: 1.04167;
    	margin-bottom: 50px;
	}
}

.heading-l {
    font-family: "Cera-bold",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
	.heading-l {
		font-size: 36px;
    	font-size: 2.25rem;
    	line-height: 1.11111;
    	margin-bottom: 30px;
    }
}

.heading-m {
    font-family: "Cera-bold",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
	.heading-m {
		font-size: 24px;
    	font-size: 1.5rem;
    	line-height: 1.25;
    	margin-bottom: 20px;
    }
}

.heading-s {
    font-family: "Cera-bold",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
	.heading-s {
		font-size: 19px;
    	font-size: 1.1875rem;
    	line-height: 1.31579;
    	margin-bottom: 20px;
    }
}


p, .body {
    font-family: "Cera-reg",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
	p, .body {
		font-size: 19px;
	    font-size: 1.1875rem;
	    line-height: 1.31579;
	    margin-bottom: 20px;
	}
}

.body-s {
    font-family: "Cera-reg",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
}

@media (min-width: 40.0625em) {
	.body-s {
		font-size: 16px;
    	font-size: 1rem;
    	line-height: 1.25;
	}
}

/* Link styles */

a {
    color: inherit;
    text-decoration: underline 1px solid #A1CDF1;
    text-underline-offset: 0.2em;
}

a:hover:not(:focus) {
	color: #612940;
	text-decoration: underline 2px solid #A1CDF1;
}

a:focus {
	background: rgba(161, 205, 241, 0.4);
	outline: 2px solid #A1CDF1;
	text-decoration: none;
}

.back-link {
	font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    font-family: "Cera-reg",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 40.625em) {
	.back-link {
		font-size: 16px;
    	font-size: 1rem;
    	line-height: 1.25;
	}
}


/* Buttons */

.btn-group {
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.btn {
	font-family: "Cera-bold",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 0;
    margin-bottom: 17px;
    padding: 8px 10px 7px;
    border: 1px solid #0b0c0c;
    border-radius: 0;
    color: #0b0c0c;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 0 #A1CDF1;
    box-shadow: 2px 2px 0 #A1CDF1;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
	-webkit-transition: none;
	transition: none;
	-webkit-transition: all 1.2s ease-in-out;
	transition: all 1.2s ease-in-out;
}



.btn:first-child {
	color:#ffffff;
	background: #0b0c0c;
}

.btn:hover:not(:focus) {
	border-color: #612940;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #DCECF9), to(rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, #DCECF9 50%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, #DCECF9 50%, rgba(255,255,255,0) 100%);
	background: #DCECF9;
	background: -webkit-linear-gradient(0deg, #DCECF9 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(90deg, #DCECF9 0%, rgba(255,255,255,0) 100%);
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #612940;
	cursor: pointer;
	-webkit-transition: all .6s ease-out;
	transition: all .6s ease-out;
}

.btn:focus {
	background: #612940;
	color: #ffffff;
	outline: 2px solid transparent;
	border-color: #ffffff;
	box-shadow: 0px 2px 0 #0b0c0c;
	-webkit-transition: all .6s ease-out;
	transition: all .6s ease-out;
}

@media (min-width: 40.0625em) {
	.btn-group .btn, .btn-group a {
	    margin-right: 10px;
	    margin-bottom: 22px;
	}
}


/* Containers */

.width-container {
	max-width: 960px;
    margin-right: 15px;
    margin-left: 15px;
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
}

@media (min-width: 40.0625em) {
	.width-container {
		margin-right: 30px;
    	margin-left: 30px;
    	margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
    	margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
	}
}

@media (min-width: 1020px) {
	.width-container {
		margin-right: auto;
    	margin-left: auto;
	}
}


.main-wrapper {
	display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 40.0625em) {
	.main-wrapper {
		padding-top: 40px;
    	padding-bottom: 40px;
	}
}

.back-wrapper {
	display: block
	padding-top: 5px;
}

@media (min-width: 40.0625em) {
	.back-wrapper {
		padding-top: 25px;
	}
}

.projects-wrapper {
	padding: 15px 15px 0px;
    border: 4px solid #0b0c0c;
    margin-top: 5px;
}

@media (min-width: 40.0625em) {
	.projects-wrapper {
		padding: 40px 40px 15px;
	}
}

.project-detail-wrapper {
	width: 100%;
}

@media (min-width: 40.0625em) {
	.project-detail-wrapper {
		width: 66.6666%;
	}
}

article {
	margin-top: 20px;
}

@media (min-width: 40.0625em) {
	article {
		margin-top: 40px;
	}
}

article p {
    font-family: "Cera-reg",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
}

@media (min-width: 40.0625em) {
	article p {
		font-size: 16px;
    	font-size: 1rem;
    	line-height: 1.25;
	}
}

.iframe-wrapper {
	position:relative;
	padding-top: 60.85%;
	margin-bottom: 20px;
}

.iframe-wrapper iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


/* About me styles */

#about-me h1 {
	position: relative;
	width: fit-content;
}


#about-me h1:before, ul.meta li span:before, ul.meta li a:before {
	content: '';
    position: absolute;
    bottom: 0.15em;
    left: 0.15em;
    width: -webkit-calc(100%);
    width: calc(100%);
    z-index: -1;
    height: .375em;
    background: #A1CDF1;
    opacity:0.4;
}

.large-format {
	font-size: 32px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
}

@media (min-width: 40.0625em) {
	.large-format {
		font-size: 48px;
    	font-size: 3rem;
    	margin-bottom: 20px;
	}
	.large-format:last-of-type {
		margin-bottom: 40px;
	}
}


/* Project styles */

.project-box {
	text-decoration: none;
}


/* List styles */ 

ul, li :not(.list-bullet li) {
	list-style: none;
	margin: 0;
	padding: 0;
}

.projects-wrap>li a {
	border-top: 1px solid #0b0c0c;
    padding: 15px;
    margin-left:-15px;
    margin-right: -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: none;
}


.projects-wrap li {
    list-style: none;
}

.projects-wrap>li.show a {
    display: block;
}

.projects-wrap>li a:hover {
	background: rgba(161, 205, 241, 0.4);
	text-decoration: none;
}

ul.meta {
	display: inline-flex;
	min-width:100%;
}

ul.meta li {
	padding: 0;
	margin-right: 10px;
}

ul.meta li span, ul.meta li a {
	position: relative;
	display: block;
    font-family: "Cera-reg",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    text-decoration: none;
}

ul.meta li a {
	font-family: "Cera-bold",arial,sans-serif;
}

@media (min-width: 40.0625em) {
	ul.meta li span, ul.meta li a {
		font-size: 16px;
    	font-size: 1rem;
    	line-height: 1.25;
	}
}

ul.image-gallery {
    position: relative;
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: left;
    -ms-flex-pack: initial;
    justify-content: left;
}

.image-gallery li {
    min-width: 20%;
    margin-bottom: 5px;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: block;
}

.image-gallery li.two {
    max-width: calc(50% - 8px);
    margin: 2px;
}

.list {
	font-family: "Cera-reg",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    color: #0b0c0c;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 0;
    list-style-type: none;
}

@media (min-width: 40.0625em) {
	.list {
		font-size: 16px;
    	font-size: 1rem;
    	line-height: 1.25;
    	margin-bottom: 20px;
	}
}

.list-bullet {
	padding-left: 20px;
    list-style-type: disc;
}

/* Fluidbox */

.enlarge, .Caption--faux {
    text-align: left;
    text-decoration: none;
    font-family: "Cera-reg";
    cursor: pointer;
}

.hovergrey img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hovergrey:hover:not(:focus) img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.hovergrey:focus img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    outline: 4px solid #A1CDF1;
}

ul.image-gallery img {
	box-shadow: 0 0px 28px rgb(0 0 0 / 5%), 0 5px 12px rgb(0 0 0 / 12%);
	margin-bottom: 5px;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.image-gallery li img {
    padding: 0;
    margin-top: 0;
}

/* Footer */

footer {
	padding-top:40px;
}

footer ul {
 	display: inline-flex;
}

footer ul li {
	margin-right: 10px;
    font-family: "Cera-bold",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

@media (min-width: 40.0625em) {
	footer ul li {
		font-size: 19px;
    	font-size: 1.1875rem;
    	line-height: 1.31579;
    	margin-bottom: 20px;
    }
}



/* Colour changer */
.colour-changer {
	position: fixed;
	display: none;
	bottom: 24px;
	right: 24px;
	background: #ffffff;
	color: #0b0c0c;
	border: 1px solid #0b0c0c;
	padding: 8px 16px;padding: 8px 10px 7px;
	font-family: "Cera-bold",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    -webkit-box-shadow: 2px 2px 0 #A1CDF1;
    box-shadow: 2px 2px 0 #A1CDF1;
}

@media (min-width: 40.0625em) {
	.colour-changer {
		display:block;
	}
}

.colour-changer input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.dark, .dark .btn:hover:not(:focus) {
	color: #ffffff;
}

.dark a:hover:not(:focus) {
	color: #A1CDF1;
}

.dark .projects-wrapper, .dark .projects-wrap>li a {
	border-color: #A1CDF1;
}

.dark .btn:first-child {
	background-color: #A1CDF1;
}


/* Overrides */

.margin-bottom-override {
	margin-bottom: 0px;
}

.hidden {
	display: none;
	visibility: hidden;
}